@use "/assets/css/variables";

.alert-modal {
    position: fixed;
    bottom: 2rem;
    left: calc(50% - 200px);

    width: 400px;
    min-height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: tomato;
    border-radius: var(--border-radius);
    opacity: 0.7;
}

.success {
    background-color: var(--success-color);
}

.warning {
    color: var(--text-color);
    background-color: var(--warning-color);
}

.danger {
    background-color: var(--danger-color);
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
    transition: opacity 0.3s ease-in;
}
