.alert-modal {
    width: 400px;
    min-height: 60px;
    background-color: tomato;

    position: fixed;
    bottom: 32px;
    left: calc(50% - 200px);

    border-radius: 12px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.7;
}
.slide-enter-from,
.slide-leave-to {
    opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
    transition: opacity 0.3s ease-in;
}
