.cart-item, .info, .count-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.cart-item {
    padding-bottom: 40px;
    border-bottom: 1px solid #DEDFE5;
}
.cart-item:first-child {
    padding-top: 40px;
    border-top: 1px solid #DEDFE5;
}
.info {
    justify-content: flex-start;
    flex-basis: 30%;
}
.count {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.picture {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 12px;
}
.picture:hover {
    cursor: pointer;
}
.count-input {
    width: 80px;
    height: 40px;

    border: 1px solid #DEDFE5;
    border-radius: 8px;

    text-align: center;
}
