@use "/assets/css/variables";

.cart-item, .info, .count-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.cart-item {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--border-color);

    &:first-child {
        padding-top: 40px;
        border-top: 1px solid var(--border-color);
    }
}
@media (max-width: variables.$breakpoint-md) {
    .cart-item {
        padding-bottom: 1rem;
        padding-top: 1rem;
        flex-direction: column;

        &:first-child {
            padding-top: 1rem;
        }
    }
}

.info {
    justify-content: flex-start;
}
@media (max-width: variables.$breakpoint-md) {
    .info {
        width: 100%;
    }
}

.count {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.picture {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: var(--border-radius);

    &:hover {
        cursor: pointer;
    }
}

.count-input {
    width: 80px;
    height: 40px;

    border: 1px solid var(--border-color);
    border-radius: 0.5rem;

    text-align: center;
}

.primal-price {
    color: var(--muted-text);
    text-decoration: line-through;
}

.discounted-price {
    color: var(--highlight-color);
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.category {
    color: var(--muted-text);
    font-size: 1rem;
}

.items-control {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: variables.$breakpoint-md) {
    .items-control {
        width: 100%;
        align-items: baseline;
    }
}
