@import "/assets/css/variables";

.icon {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.counter {
  height: 1rem;
  width: 1rem;

  position: absolute;
  top: 0;
  right: 0;

  border-radius: 4px;
  background-color: var(--highlight-bright-color);

  font-weight: lighter;
  font-size: 12px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
