@use "/assets/css/variables";

#__nuxt {
    height: 100%;
}

body, html, ._container {
    width: 100%;
    min-height: 100%;
}

._container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--text-color);
}

._content {
    padding: 7rem 0;

    min-height: 100vh;
}
@media (max-width: variables.$breakpoint-md) {
    ._content {
        padding: 6rem 0 0 0;
    }
}

._wrapper {
    margin: 0 auto;
    padding: 2rem;

    height: 100%;
    max-width: 1440px;
}
@media (max-width: variables.$breakpoint-md) {
    ._wrapper {
        padding: 1rem;
    }
}

._highlighted-text {
    color: var(--highlight-color) !important;
}

._crossed-text {
    text-decoration: line-through;
}

._weight-500 {
    font-weight: 500 !important;
}

._font-sm {
    font-size: 14px;
}

._muted-text-lg,
._muted-text-md,
._muted-text-sm {
    color: var(--muted-text);
}

._muted-text-lg {font-size: 18px;}
._muted-text-md {font-size: 16px;}
._muted-text-sm {font-size: 14px;}

._title-4,
._title-3,
._title-2,
._title-1 {
    font-weight: 700;
    color: var(--text-color);
}

._title-4 {font-size: 18px;}
._title-3 {font-size: 1.5rem;}
._title-2 {font-size: 2rem;}
._title-1 {
    font-size: 4rem;
    font-weight: 800;
}
@media (max-width: variables.$breakpoint-lg) {
    ._title-1 {
        font-size: 3rem;
    }
}
