@use "/assets/css/variables";

.icon {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;

  height: 1rem;
  width: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--highlight-bright-color);
  border-radius: 4px;

  color: white;
  font-weight: lighter;
  font-size: 12px;
}
