@use "/assets/css/variables";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    height: 90px;
    width: 100%;

    background-color: var(--primary-color);
    transition: background-color 0.2s ease-in-out;
}

.nav-content {
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    display: flex;
    align-items: center;
    gap: 3rem;
}
@media (max-width: variables.$breakpoint-md) {
    .nav-section {
        gap: 2rem;
    }
}

.nav-link {
    color: var(--text-color);
    opacity: 0.8;
    text-decoration: none;
}
@media (max-width: variables.$breakpoint-md) {
    .nav-link-full {
        display: none;
    }
}

.nav-link-active {
    font-weight: 500;
    color: var(--highlight-bright-color);
}

.nav-section-dark {
    &>.nav-link {
        color: var(--muted-text);
    }
    &>.nav-link-active {
        color: white;
    }
}

.nav-scrolled {
    background-color: var(--dark-bg-color);
}

.nav-more__button {
    display: none;
}
@media (max-width: variables.$breakpoint-md) {
    .nav-more__button {
        display: block;
    }
}
