.cart-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
@media (max-width: 1250px) {
    .cart-container {
        flex-direction: column;
    }
}

.cart-items {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    gap: 40px;
}
@media (max-width: 900px) {
    .cart-items {
        gap: 0;
    }
}

.header {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--muted-text);
}
@media (max-width: 900px) {
    .header {
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

.vertical-line {
    width: 1px;
    height: 1.5rem;
    border: 1px solid var(--border-color);
}
.summary {
    padding: 1rem;
    max-height: 325px;
    min-width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;

    border-radius: var(--border-radius);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);

    font-weight: 400;
}
@media (max-width: 550px) {
    .summary {
        min-width: auto;
    }
}

.summary-info__field {
    display: flex;
    justify-content: space-between;
}
.summary-total {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.checkout-button {
    width: 100%;
}
.cross-lined-price {
    text-decoration: line-through;
    font-size: 1rem;
    color: var(--muted-text);
}
.general-info {
    display: flex;
    gap: 1rem;
}