.cart-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.cart-items {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    gap: 40px;
}
.header {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    gap: 1rem;

    color: var(--muted-text);
}
.vertical-line {
    width: 1px;
    height: 1.5rem;
    border: 1px solid var(--border-color);
}
.summary {
    padding: 1rem;
    max-height: 325px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;

    border-radius: var(--border-radius);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17);

    font-weight: 400;
}
.summary-info__field {
    display: flex;
    justify-content: space-between;
}
.summary-total {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.checkout-button {
    width: 100%;
}
.cross-lined-price {
    text-decoration: line-through;
    font-size: 1rem;
    color: var(--muted-text);
}
