@use "/assets/css/variables";

.banner {
  margin-bottom: 100px;
  padding: 48px;
  width: 100%;

  border-radius: 24px;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.main-banner {
  height: 512px;

  display: flex;
  justify-content: space-between;
}

.best-selling {
  display: flex;
  justify-content: space-between;
}

.best-selling-cards {
  height: 300px;

  display: flex;
  flex-flow: row wrap;
  gap: 46px;
}
.main-content, .main-info {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.main-info {
  width: 100%;
  justify-content: flex-start;
}

.main-title {
  font-size: 4rem;
  font-weight: 800;
}

.main-statistics {
  display: flex;
  gap: 3rem;
}
.statistics-block {
  width: 100px;
  height: 75px;

  font-weight: 500;
}
.statistics-value {
  font-size: 2rem;
}

.main-search {
  padding: 1rem;
  width: 70%;
  border-radius: var(--border-radius);
  background-color: #FFFFFF;
  position: relative;
}
.search-input {
  width: 90%;
  border: none;
}
.search-button {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.main-image__block {
  width: 100%;
  height: 100%;
  flex-basis: 45%;

  position: relative;
}
.main-image__circle {
  height: 400px;
  width: 400px;
  background-color: var(--text-color);
  border-radius: 50% 50% 0 50%;

  position: absolute;
  bottom: -3rem;
  right: 3rem;
}
.main-image {
  position: absolute;
  right: 2rem;
  bottom: -3rem;
}
.spinned-arrow-1 {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.spinned-arrow-2 {
  position: absolute;
  bottom: 3rem;
  left: -4rem;
}

.best-selling {
  margin-bottom: 150px;
}
.best-selling__block {
  max-width: 250px;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.best-selling__title {
  font-size: 2rem;
  font-weight: 700;
}
.best-selling__content {
  font-weight: 500;
  color: var(--muted-text);
}

.about-us {
  margin-bottom: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-us-header {
  margin-bottom: 3rem;
}
.about-us__title {
  font-size: 2rem;
  font-weight: 700;
}
.about-us__description {
  font-weight: 500;
  color: var(--muted-text);
}
.about-us__features {
  width: 100%;

  display: flex;
  gap: 1.5rem;
}
.about-us__feature {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.feature-circle {
  margin-bottom: 0.5rem;

  width: 96px;
  height: 96px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.feature-circle__image {
  object-fit: contain;
  object-position: center;
}
.feature-title {
  font-weight: 700;
}
.feature-content {
  font-weight: 500;
  color: var(--muted-text);
}
