.card {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: stretch;
    gap: 32px;
}
.current-image__wrapper {
    margin-bottom: 24px;
    width: 100%;
    height: 50vh;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.current-image__slider {
    position: absolute;
    top: calc(50% - 24px);

    width: 48px;
    height: 48px;

    border-radius: 12px;
    background-color: rgba(229, 219, 188, 1);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease-out;
}
.current-image__slider:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
.current-image__left-slider {
    left: 8px;
    background-image: url("../../../public/assets/images/slide-left.svg");
}
.current-image__right-slider {
    right: 8px;
    background-image: url("../../../public/assets/images/slide-right.svg");
}
.current-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.images-block {
    height: 100%;
    flex-basis: 50%;
}
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.image {
    width: 125px;
    height: 175px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0.5;

    transition: opacity 0.3s ease-out;
}
.image:hover {
    opacity: 1 !important;
    cursor: pointer;
}
.content-block {
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.content {
    border-bottom: 1px solid #DEDFE5;
}