.nav {
    height: 90px;
    width: 100%;
}

.nav-content {
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-link {
    color: var(--text-color);
    opacity: 0.8;
    text-decoration: none;
}
