.nav {
    height: 90px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;

    transition: background-color 0.2s ease-in-out;
}

.nav-content {
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section {
    display: flex;
    align-items: center;
    gap: 3rem;
}
@media (max-width: 900px) {
    .nav-section {
        gap: 2rem;
    }
}

.nav-link {
    color: var(--text-color);
    opacity: 0.8;
    text-decoration: none;
}
.nav-link-active {
    font-weight: 500;
    color: var(--highlight-bright-color);
}
@media (max-width: 700px) {
    .nav-link, .nav-link-active {
        display: none;
    }
}

.nav-section-dark {
    &>.nav-link {
        color: var(--muted-text);
    }
    &>.nav-link-active {
        color: white;
    }
}

.scrolled-nav {
    background-color: var(--dark-bg-color);
}

.button-more {
    display: none;
}
@media (max-width: 700px) {
    .button-more {
        display: block;
    }
}
